* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #1f2937;
    height: 50px;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
    font-weight: bold;
    margin-left: 250px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 300px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.header-section {
    background-color: #1f2937;
    padding: 200px;
    border: 3px solid red;
}

