* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
    font-weight: bold;
    margin-left: 250px;
}