* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */

header {
    background: #1f2937;
    height: 50px;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-for-nav {
    color: white;
    font-weight: bold;
    margin-left: 250px;
    font-size: 28px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 400px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/* HEADER SECTION */

.header-section {
    background-color: #1f2937;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.text-container {
    display: block;
    flex-direction: column;
    margin-left: 250px;
}

.img-container {
    padding: 100px 160px;
    margin-right: 400px;
    background: rgb(170, 170, 170);
    color: white;
}

.text-for-section-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.small-text-section-header {
    color: #e5e7eb;
    font-size: 18px;
}

.section-header-button {
    padding: 4px 30px;
    background: #3882F6;
    color: white;
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-top: 8px;
}

/* MAIN SECTION 1 */ 